@media (min-width: 1200px) {
    .card-container{
        padding: 0 100px;
        max-width: 970px;
    }
}

@media (min-width: 992px) {
    .card-container{
        padding: 0 100px;
        max-width: 750px;
    }
}

@media (min-width: 767px) {
    .card-container{
        padding: 0 100px;
        min-width: 440px;
    }
}

@media (min-width: 520px) {
    .card-container{
        padding: 0 50px;
        min-width: 440px;
    }
}

.regularSection {
    display: block;
    padding-top: 10px;
    width: 280px;
    height: 40px;
    border-radius: 100px;
    background: #ee98a7;
    font-family: "Minecraft 1.1";
    color: #ffffff;
    text-align: center;
    outline: none;
    border: none;
    position: relative;
    left: 19%;
    margin-top: 20px;
    margin-bottom: 100px;
    text-decoration: none;
}

.regularSection:hover{
    background-color: #ffeaed;
    color: #ee98a7;
    cursor: pointer;
}


*, *:before, *:after {
    box-sizing: inherit;
}

.u-clearfix:before,
.u-clearfix:after {
    content: " ";
    display: table;
}

.u-clearfix:after {
    clear: both;
}

.u-clearfix {
    *zoom: 1;
}

.subtle {
    color: white;
    text-decoration: none;
}


.card-container {
    margin: 25px auto 0;
    position: relative;
    /*width: 692px;*/
    max-width: 1200px;
}

.card {
    background-color: #fff;
    padding: 30px;
    position: relative;
    box-shadow: 0 0 5px rgba(75, 75, 75, .07);
    z-index: 1;
}

.card-body {
    display: inline-block;
    float: left;
    width: 310px;
}

.card-number {
    margin-top: 15px;
}

.card-circle {
    border: 1px solid #aaa;
    border-radius: 50%;
    display: inline-block;
    height: 25px;
    text-align: center;
    width: 25px;
    cursor: pointer;
}

.inside-circle{
    font-size: 16px;
    text-decoration: none;
    line-height: 22px;
    display: block;
    position: relative;
    margin-top: 36%;
}

.card-author {
    display: block;
    font-size: 20px;
    letter-spacing: .5px;
    margin: 15px 0 0;
    text-transform: uppercase;
}

.card-title {
    font-family: 'Cormorant Garamond', serif;
    font-size: 60px;
    font-weight: 300;
    line-height: 60px;
    margin: 10px 0;
}

.card-description {
    display: inline-block;
    font-weight: 300;
    line-height: 22px;
    margin: 10px 0;
    text-decoration: none;
    color: gray;
}

.card-read {
    cursor: pointer;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 6px;
    margin: 5px 0 20px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    margin-top: 20px;
}

.card-tag{
    border-radius: 50%;
    display: inline-block;
    line-height: 22px;
    font-size: 12px;
    height: 80px;
    text-align: center;
    width: 80px;
    float: right;
    margin-bottom: 20px;
    border-color: #c56f82;
    background-color: #df8196;
}
.card-media {
    float: right;
    width: 400px;
    height: auto;
}
.card-media img {
    width: 100%;
    height: 100%;
}

.card-shadow {
    background-color: #fff;
    box-shadow: 0 2px 25px 2px rgba(0, 0, 0, 1), 0 2px 50px 2px rgba(0, 0, 0, 1), 0 0 100px 3px rgba(0, 0, 0, .25);
    height: 1px;
    margin: -1px auto 0;
    width: 80%;
    z-index: -1;
}


@keyframes animate {

    0%{
        transform: translateY(0);
        /*opacity: 1;*/
    }

    100%{
        transform: translateY(-1000px);
        /*opacity: 0;*/
        border-radius: 50%;
    }

}

@keyframes animate {

    0%{
        transform: translateY(0);
        /*opacity: 1;*/
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px);
        /*opacity: 0;*/
        border-radius: 50%;
    }

}


@keyframes a{
    0%{
        background:transparent;
    }
    50%{
        background: #ffa9ba;
    }
    100%{
        background:transparent;
    }
}
@keyframes b{
    0%{
        background: #ffa9ba;
    }
    50%{
        background:transparent;
    }
    100%{
        background:#ffa9ba;
    }
}

.mainSection{
    position: relative;
    left: 10%;
    z-index: 50;
    top: 100px;
}
.diva1{
    position:absolute;
    width: 300px;
    height:50px;
    /*border:5px solid #fee2e4;*/
    border-radius:100px;
    padding: 10px;
    background:#ffa9ba;
    transition:.6s;
    left: 130px;
}

.diva1:hover{
    cursor: pointer;

}

.mainSection:hover  .btna{
    color: #cf788b;
    background: #ffffff;
    padding:15px;
    text-align: center;
    vertical-align: center;
    cursor: pointer;
}


.diva1:hover .buttonSection{
    height: 400px;
}

.diva1:hover .buttonSection .buttons{
    visibility: visible;
    cursor: pointer;
}

.diva1:hover .emptySection{
    height: 300px;
    border:5px solid #ffa9ba;
    z-index: -100;
}

.sectionName:hover{
    cursor: pointer;

}

.buttons{
    visibility: hidden;
    /*z-index: 200;*/
}

.buttons{
    position: relative;
    top: 50px;
}

.buttonSection{
    position:absolute;
    top:0px;
    left:90px;
    width:120px;
    height:10px;
    border:5px solid #ffa9ba;
    border-radius:100px;
    background:#ffa9ba;
    transition:.6s;
    padding: 10px;
}

.emptySection{
    position:absolute;
    top:-5px;
    left:135px;
    width:40px;
    height: 3px;
    border:5px solid #ffa9ba;
    border-radius:100px;
    background: #ffa9ba;
    transition:.6s;
}

.btna{
    position:relative;
    top:0px;
    background:transparent;
    width:120px;
    color: transparent;
    font-family: "Minecraft 1.1";
    font-size: 10px;
    border:2.5px solid transparent;
    border-radius:100px;
    cursor:pointer;
    transition:.4s;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.sectionName{
    font-family: "Minecraft 1.1";
    text-align: center;
    position: relative;
    left: 45px;
    color: white;
    position: absolute;
    padding: 5px;
    z-index: 11;
    background-color: #ffa9ba;
    border: none;
    border-radius: 100px;
}